<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NanumMyeongjoExtraBold.ttf</string>
		<string>NanumMyeongjoBold.ttf</string>
		<string>NanumMyeongjo.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>NuosuSIL-Regular.ttf</string>
		<string>NotoSerifKR-Black.otf</string>
		<string>NotoSerifKR-Bold.otf</string>
		<string>NotoSerifKR-ExtraLight.otf</string>
		<string>NotoSerifKR-Light.otf</string>
		<string>NotoSerifKR-Medium.otf</string>
		<string>NotoSerifKR-Regular.otf</string>
		<string>NotoSerifKR-SemiBold.otf</string>
		<string>NotoSerifSC-Medium.otf</string>
	</array>
</dict>
</plist>
